<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.compass.loco.homelibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateLibraryActivity" />
        <activity
            android:name=".ManageLibraryActivity"
            android:label="管理书店"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrowseLibraryActivity"
            android:label="浏览书店"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SelectCityActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".MessageIntentService"
            android:exported="false" />

        <activity
            android:name=".ScanBookActivity"
            android:label=""
            android:parentActivityName=".ManageLibraryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManageLibraryActivity" />
        </activity>
        <activity
            android:name=".SaveBookActivity"
            android:label=""
            android:parentActivityName=".ScanBookActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScanBookActivity" />
        </activity>
        <activity
            android:name=".ManageBookActivity"
            android:label="管理图书"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateLibActivity"
            android:label="@string/title_activity_create_lib"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Borrowed_Activity" />
        <activity
            android:name=".SearchMainActivity"
            android:label="搜索"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RequestedBorrow" />
        <activity android:name=".BorrowedNotReturn" />
        <activity android:name=".widge.BorrowedHistory"></activity>
    </application>

</manifest>